﻿@model List<HospitalProject.Entities.Appointment>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@{
    string GetStatus(HospitalProject.Enums.AppointmentStatus status)
    {
        switch (status)
        {
            case HospitalProject.Enums.AppointmentStatus.Pending:
                return "warning";
            case HospitalProject.Enums.AppointmentStatus.Approved:
                return "success";
            case HospitalProject.Enums.AppointmentStatus.Cancelled:
                return "danger";
        }
        return "";
    }
}


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Randevu Tablosu</h4>
            <p class="card-description">
                Randevuların bilgileri bu alanda gözükecektir.
            </p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Doktor Adı</th>
                            <th>Doktor Departmanı</th>
                            <th>Tarih</th>
                            <th>Hasta Adı</th>
                            <th>Hasta Soyadı</th>
                            <th>Hasta Telefon</th>
                            <th>Hasta Mail</th>
                            <th>Randevu Durum</th>
                            <th>Onayla</th>
                            <th>İptal Et</th>
                            <th>Güncelle</th>
                            <th>Kaldır</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Doctor.FullName</td>
                                <td>@item.Doctor.Department.Name</td>
                                <td>@item.Date.ToString("d") @item.Time.ToString()</td>
                                <td>@item.PatientFirstName</td>
                                <td>@item.PatientLastName</td>
                                <td>@item.PatientPhone</td>
                                <td>@item.PatientEmail</td>
                                <td><label class="text-@GetStatus(item.Status)">@item.Status</label></td>
                                <td><a class="btn btn-info" href="/Appointment/ApproveAppointment/@item.Id">Onayla</a></td>
                                <td><a class="btn btn-warning" href="/Appointment/CancelAppointment/@item.Id">İptal Et</a></td>
                                <td><a class="btn btn-success" href="/Appointment/UpdateAppointment/@item.Id">Güncelle</a></td>
                                <td><a class="btn btn-danger" href="/Appointment/RemoveAppointment/@item.Id">Kaldır</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>